---
title: My Account
body_class: page-aside-left
---

{{#extend "layout-default"}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-aside">
          <!---page-aside-inner-->
          <div class="page-aside-switch">
              <i class="icon md-chevron-left" aria-hidden="true"></i>
              <i class="icon md-chevron-right" aria-hidden="true"></i>
          </div>
          <div class="page-aside-inner page-aside-scroll">
              <div data-role="container">
                  <div data-role="content">
                      <section class="page-aside-section">
                          <h5 class="page-aside-title">MY PROFILE</h5>
                          <div class="list-group">
                              <a class="list-group-item {{#active 'caroler/account/profile.html'}}active{{/active}}" href="{{dest 'caroler/account/profile.html'}}">
                                  <i class="icon md-account" aria-hidden="true"></i>
                                  Profile
                              </a>
                              <a class="list-group-item {{#active 'caroler/account/agreement.html'}} active{{/active}}" href="{{dest 'caroler/account/agreement.html'}}">
                                  <i class="icon md-accounts-add" aria-hidden="true"></i>
                                  Performance Agreement
                              </a>
                              <a class="list-group-item {{#active 'caroler/account/tax.html'}} active{{/active}}" href="{{dest 'caroler/account/tax.html'}}">
                                  <i class="icon md-money-box" aria-hidden="true"></i>
                                  Tax Forms
                              </a>
                              <a class="list-group-item {{#active 'caroler/account/cash.html'}} active{{/active}}" href="{{dest 'caroler/account/cash.html'}}">
                                  <i class="icon md-account-calendar" aria-hidden="true"></i>
                                  Square Cash ID
                              </a>
                              <a class="list-group-item {{#active 'caroler/account/costume.html'}} active{{/active}}" href="{{dest 'caroler/account/costume.html'}}">
                                  <i class="icon md-folder" aria-hidden="true"></i>
                                  Costume
                              </a>
                              <a class="list-group-item {{#active 'caroler/account/calendar.html'}} active{{/active}}" href="{{dest 'caroler/account/calendar.html'}}">
                                  <i class="icon md-assignment-check" aria-hidden="true"></i>
                                  Calendar
                              </a>
                              <a class="list-group-item {{#active 'caroler/account/stars.html'}} active{{/active}}" href="{{dest 'caroler/account/stars.html'}}">
                                  <i class="icon md-folder" aria-hidden="true"></i>
                                  Stars
                              </a>
                          </div>
                      </section>
                  </div>
              </div>
          </div>
        <!---page-aside-inner-->
      </div>
      <div class="page-main">
          {{#block "page-main"}}
              <h2>Hello World</h2>
          {{/block}}
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}