---
title: My Events
body_class: page-aside-left
---

{{#extend "layout-default"}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page" style="max-width: 9000px">
      <div class="page-aside">
          <!---page-aside-inner-->
          <div class="page-aside-switch">
              <i class="icon md-chevron-left" aria-hidden="true"></i>
              <i class="icon md-chevron-right" aria-hidden="true"></i>
          </div>
          <div class="page-aside-inner page-aside-scroll">
              <div data-role="container">
                  <div data-role="content">
                      <section class="page-aside-section">
                          <h5 class="page-aside-title">EVENTS</h5>
                          <div class="list-group">
                              <a class="list-group-item {{#active 'customer/events/calendar.html'}}active{{/active}}"       href="{{dest 'customer/events/calendar.html'}}"><i class="icon md-account" aria-hidden="true"></i>       Event Calendar</a>
                              <a class="list-group-item {{#active 'customer/events/info.html'}} active{{/active}}"          href="{{dest 'customer/events/info.html'}}"><i class="icon md-accounts-add" aria-hidden="true"></i>      Your Information</a>
                              <a class="list-group-item {{#active 'customer/events/details.html'}} active{{/active}}"       href="{{dest 'customer/events/details.html'}}"><i class="icon md-money-box" aria-hidden="true"></i>      Event Details</a>
                              <a class="list-group-item {{#active 'customer/events/fees.html'}} active{{/active}}"          href="{{dest 'customer/events/fees.html'}}"><i class="icon md-account-calendar" aria-hidden="true"></i>  Travel Fees</a>
                              <a class="list-group-item {{#active 'customer/events/payments.html'}} active{{/active}}"      href="{{dest 'customer/events/payments.html'}}"><i class="icon md-folder" aria-hidden="true"></i>        Event Payments</a>
                              <a class="list-group-item {{#active 'customer/events/caroler.html'}} active{{/active}}"       href="{{dest 'customer/events/caroler.html'}}"><i class="icon md-assignment-check" aria-hidden="true"></i>  Lead Caroler</a>
                              <a class="list-group-item {{#active 'customer/events/requests.html'}} active{{/active}}"      href="{{dest 'customer/events/requests.html'}}"><i class="icon md-folder" aria-hidden="true"></i>        Special Request</a>
                          </div>
                      </section>
                  </div>
              </div>
          </div>
        <!---page-aside-inner-->
      </div>
      <div class="page-main">
          {{#block "page-main"}}
              <h2>Hello World</h2>
          {{/block}}
      </div>
    </div>
    <!-- End Page -->

  {{/content}}
{{/extend}}